@import url('https://fonts.googleapis.com/css?family=Dosis:700|Montserrat');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}

.overall_wrapper {
    /*padding: 10px;*/
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons a:hover {
    background: #fbfbfb;
    color: #333333;
}

.buttons a {
    padding: 5px;
    background: #fff;
    color: #707070;
    font-size: 1.3em;
    font-family: 'Dosis', sans-serif;
    margin: 5px 10px;
    box-shadow: 1px 1px 2px 1px #dadada;
}

.spotify_header a:hover, .gpm_header a:hover {
    background: #292929;
    color: #f1f1f1;
}

.import_links {
    padding: 10px;
    text-align: center;
    background: #2E294E;
    margin-bottom: 2em;
    box-shadow: 0 2px 3px 1px #c0c0c1;
}

.import_links h1 {
    margin-bottom: 0.5em;
    color: #ffffff;
}

.import_links a {
    color: #81b9ef;
}

.import_links a:hover {
    color: #72abe2;
}

.import_links h1 {
    margin-bottom: 0.5em;
}

.songs_tables_wrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spotify_window, .gpm_window {
    width: 45%;
    height: 70vh;
    /*box-shadow: 1px 1px 5px 1px #e6e6e6;*/
    box-shadow: 0 8px 5px 1px #dadada;
}

.spotify_window header, .gpm_window header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.spotify_header, .gpm_header {
    padding: 10px;
}

.spotify_header {
    background: #1db955;
}

.gpm_header {
    background: #ff5722;
}

.spotify_song_list, .gpm_song_list {
    height: 80%;
    /*overflow: scroll;*/
    background: #fff;
    padding: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

th {
    color: #707070;
    width: 50%;
}

tr {
    width: 100%;
    display: flex;
}

thead {
    border-bottom: solid #eaeaea 2px;
}

.spotify_header a, .gpm_header a, .login_out {
    background: #333;
    padding: 5px;
    color: #eaeaea;
}

a {
    text-decoration: none;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px #eaeaea;
    padding: 10px;
    width: 50%;
}

table tbody, table thead {
    display: block;
}

table tbody {
    overflow-y: auto;
    height: calc(100% - 1em);
}

header h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gpm_login_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpm_login_wrap > div {
    width: 90%;
    max-width: 900px;
    min-width: 350px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 8px 5px 1px #dadada;
}

.gpm_login_wrap > div h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.side_note {
    color: #464646;
    font-size: 0.8em;
}

.spotify_green_header {
    color: #1DB955;
    margin-bottom: 10px;
}

.gpm_red_header {
    color: #FF5722;
    margin-bottom: 0;
}

.login_out {
    border-radius: 5px;
    background: #eaeaea;
    color: #333;
    padding: 2px 15px;
}

form {
    margin-top: 1em;
    width: 50%;
}

input {
    width: 100%;
    height: 2.5em;
}

input.login_out {
    border: none;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.spotify_table .ui-selecting, .spotify_table .ui-selected {
    background: #1db955;
}
.gpm_table .ui-selecting, .gpm_table .ui-selected {
    background: #ff5722;
}

label {
    display: block;
}

.spotify_popup_wrapper {
    position: fixed;
    z-index: 1;
    background: red;
    color: white;
    padding: 20px;

    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
}

.gpm_popup_wrapper {
    position: fixed;
    z-index: 1;
    background: red;
    color: white;
    padding: 20px;

    width: 80vw;
    height: 80vh;
    top: 10%;
    left: 10%;
}