<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{% static 'spotify_to_gpm_app/css/style.css' %}?{% now "U" %}">
</head>
<body>
<div class="overall_wrapper">
    <header class="import_links">
        <h1>Welcome to Spotify To GPM!!!</h1>
        <a href="{% url 'spotify_to_gpm_app:import_songs_to_db' %}">Import
            Songs!</a>
    </header>

    <main class="songs_tables_wrapper">
        <div class="spotify_window">
            <header class="spotify_header">
                <h2>Logged into Spotify as {{ user.username }}</h2>
                <a href="{% url 'spotify_to_gpm_app:spotify_logout' %}">Logout
                    Of Spotify</a>
            </header>
            <div class="spotify_song_list">
                <table class="spotify_table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in spotify_tracks %}
                        <tr class="spotify_song">
                            <td class="spotify_name">{{ track.track_name }}</td>
                            <td class="spotify_artist">{{ track.artist_name }}</td>
                            <td class="spotify_album">{{ track.album_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="buttons">
            <a class="spotify_to_gpm">→</a>
            <a class="gpm_to_spotify">←</a>
        </div>

        <div class="gpm_window">
            <header class="gpm_header">
                <h2>Logged into GPM as {{ user.GPMUser.email }}</h2>
                <a href="{% url 'spotify_to_gpm_app:gpm_logout' %}">Logout Of
                    GPM</a>
            </header>
            <div class="gpm_song_list">
                <table class="gpm_table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in gpm_tracks %}
                        <tr id="{{ track.store_id }}" class="gpm_song">
                            <td class="gpm_name">{{ track.track_name }}</td>
                            <td class="gpm_artist">{{ track.artist_name }}</td>
                            <td class="gpm_album">{{ track.album_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div class="popup_wrapper" style="display: none">
        <div>
            <div class="loader_popup" style="display: none">
                <h3>Please wait while we import your songs.</h3>
                <div class="loader_icon"></div>
            </div>

            <div class="songs_popup" style="display: none">
                <div class="close_popup">X</div>

                <div class="added_songs">
                    <h3></h3>
                    <table class="popup_table_added">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="not_added_songs">
                    <h3></h3>
                    <table class="popup_table_not_added">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{% static "spotify_to_gpm_app/js/app.js" %}?{% now "U" %}"></script>
    <script src="{% static "spotify_to_gpm_app/js/multiselect.js" %}?{% now "U" %}"></script>
</body>
</html>