<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spotify To GPM</title>
</head>
<body>
<div>
    <h1>Spotify To GPM</h1>
    <h2>Please sign into Spotify first, then into Google Play Music</h2>
    <a href="{% url 'spotify_to_gpm_app:spotify_login' %}">Login To Spotify</a>

    {% comment %}
    {%  if user.is_authenticated %}
        <h3>Logged into Spotify as {{ user.username }}</h3>
        <a href="{% url 'spotify_to_gpm_app:spotify_logout' %}">Logout Of Spotify</a>
    {%  endif %}
    {% endcomment %}

</div>

</body>
</html>