<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Logged into Spotify as {{ user.username }}</h3>
    <h3>Logged into GPM as {{ user.GPMUser.email }}</h3>
    <p> <a href="{% url 'spotify_to_gpm_app:logout_both' %}">Logout Of Spotify and GPM</a> </p>

    <p> <a href="{% url 'spotify_to_gpm_app:spotify_to_gpm' %}">Import Spotify To GPM</a> </p>

    {% comment %}
    <h3>Your Playlists</h3>
    {% for playlist in playlists %}
    <a href="{% url 'spotify_to_gpm_app:disp_pl_tracks' playlist.spotify_playlist_id %}">
        <p>{{ playlist.playlist_name }}</p>
    </a>
    {% endfor %}
    {% endcomment %}

</body>
</html>